{% if students %}
    <ul>
        {% for s in students %}
            <li class="py-2 px-4 cursor-pointer hover:bg-gray-100"
                hx-get="{% url 'select-student' s.id %}"
                hx-target="#studentSearch"
                hx-swap="outerHTML">{{ s.chinese_name }} ({{ s.id }})</li>
        {% endfor %}
    </ul>
    <script>
    // 若有資料，就移除 hidden
    document.getElementById("studentSuggestions").classList.remove("hidden");
    </script>
{% else %}
    <div class="p-4 text-gray-500">找不到符合的學生...</div>
    <script>document.getElementById("studentSuggestions").classList.remove("hidden");</script>
{% endif %}
