{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="csrf-token" content="{{ csrf_token }}">

        <script>
          document.body.addEventListener("htmx:configRequest", function(event) {
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
            event.detail.headers['X-CSRFToken'] = token;
          });
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CYCUMLC</title> 
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    </head>
    <body class="bg-white">
        {% block content %}{% endblock %}
    </body>
</html>
