<div class="h-full px-4 py-4 hidden md:flex md:flex-col bg-neutral-100 dark:bg-neutral-800 w-[60px] flex-shrink-0 justify-between gap-10 transition-all duration-300"
             onmouseenter="expandSidebar(this)"
             onmouseleave="collapseSidebar(this)">
            <div class="flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
                <a class="font-normal flex space-x-2 items-center text-sm text-black py-1 relative z-20" >
                    <div class="h-5 w-6 bg-black dark:bg-white rounded-br-lg rounded-tr-sm rounded-tl-lg rounded-bl-sm flex-shrink-0"></div>
                </a>
                <div class="mt-8 flex flex-col gap-2">
                    <a class="flex items-center justify-start gap-2 group/sidebar py-2" 
                        href="#"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-neutral-700 dark:text-neutral-200 h-5 w-5 flex-shrink-0">
                            <path d="M8 9l3 3l-3 3"></path>
                            <path d="M13 15l3 0"></path>
                            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                        </svg>
                        <span class="sidebar-text text-neutral-700 dark:text-neutral-200  text-sm group-hover/sidebar:translate-x-1 transition duration-150 " style="display: none; opacity:0;">點名紀錄
                        </span>
                    </a>
                    <a class="flex items-center justify-start gap-2 group/sidebar py-2" 
                       hx-get="/student-management"
                       hx-target="#mainContent"
                       hx-swap="innerHTML"
                       href="#"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-neutral-700 dark:text-neutral-200 h-5 w-5 flex-shrink-0">
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4c.267 0 .529 .026 .781 .076"></path>
                            <path d="M19 16l-2 3h4l-2 3"></path>
                        </svg>
                       <span class="sidebar-text text-neutral-700 dark:text-neutral-200 text-sm group-hover/sidebar:translate-x-1 transition duration-150 inline-block" style="display:none; opacity:0;">學生管理
                       </span>
                    </a>

                    <a class="flex items-center justify-start gap-2 group/sidebar py-2" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-neutral-700 dark:text-neutral-200 h-5 w-5 flex-shrink-0">
                            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                        </svg>
                      <span class="sidebar-text text-neutral-700 dark:text-neutral-200 text-sm group-hover/sidebar:translate-x-1 transition duration-150 inline-block" style="display:none; opacity:0">Dashboard
                       </span>
                    </a>
               </div>
            </div>
        </div>

        <script>
            function expandSidebar(el) {
             
                el.classList.replace('w-[60px]', 'w-[200px]');
                setTimeout( () => {
                  el.querySelectorAll('.sidebar-text').forEach(span => {
                  span.style.display = 'inline-block';
                  span.style.opacity = '1';
                  }); 
                }, 200);
            }
            
              function collapseSidebar(el) {
                el.classList.replace('w-[200px]', 'w-[60px]');
                setTimeout( () => {
                    el.querySelectorAll('.sidebar-text').forEach(span => {
                        span.style.display = 'none';
                        span.style.opacity = '0';
                      });
                })
              }
        </script>
