{% if students %}
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-4 py-4">中文名字</th>
            <th scope="col" class="px-4 py-3">英文名字</th>
            <th scope="col" class="px-4 py-3">護照號碼</th>
            <th scope="col" class="px-4 py-3">生日</th>
            <th scope="col" class="px-4 py-3">性別</th>
            <th scope="col" class="px-4 py-3">國際</th>
            <th scope="col" class="px-4 py-3">上課第一天</th>
            <th scope="col" class="px-4 py-3">
                <span class="sr-only">Actions</span>
            </th>
        </tr>
    </thead>
    <tbody id="studentsTableBody">
        {% for s in students %}
        {% include "partial/student_information.html" %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="p-4 text-gray-500">找不到符合的學生...</div>
{% endif %}
